<h1><%= t(".title") %></h1>

<p><%= t(".link_preview") %></p>

<%= link_to t(".link_detail"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t(".expire") %></p>

<p><%= t(".note") %></p>
